.header{
   display: flex;
   align-items: center;
   padding: 1rem;
   justify-content: space-between;
}

.logo{
    display: flex;  
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    flex: 1;
    
}

.logo>span{
    font-weight: bold;
    font-size: 1.5rem;
}
.menu{
    display: flex;  
    flex: 1;
    gap: 2rem;
    list-style: none;
    justify-content: center;
    z-index: 99;

    
}

.menu>li:hover{
    cursor: pointer;
    color:var(--themeRed);
}

.rightSide{
    display: flex;  
    flex: 1;
    gap: 1rem;
    justify-content: flex-end;
}

.cart{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 99;
}
.badge{
    position: absolute;
    display: flex;
    background-color: var(--themeRed);
    color: white;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
    right:-0.5rem;


}



@media screen and (max-width: 500px) /* Mobile */ {
    .header{
        
        gap: 0.8rem;
       
     }
     .logo{
        flex-direction: column;

     }
     .menu{
        gap: 0.5rem;
        flex:2;
        padding: 0;
     }
     .rightSide{
        flex-direction: column;
        flex:1
     }
     .badge{
        position: absolute;
        display: flex;
        background-color: var(--themeRed);
        color: white;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        justify-content: center;
        align-items: center;
        right:0.8rem;
    
    
    }

     .logo>span{
        font-weight: bold;
        font-size: 1.2rem;
    }

    }