.formContainer{
    z-index: 1005;
     display: flex;
     flex-direction: column;
     gap: 0.8rem;
     align-items: center;
}

.formContainer>input,

.formContainer>textarea{
    width: 100%;
    outline: none;
    padding: 0.8rem;
    border: 2px solid rgb(213 , 213, 213);
    border-radius: 0.4rem;
}



.formContainer>span>span{
    color: var(--themeRed);
    font-weight: bold;
    font-size: 1.3rem;
    
}
.formContainer>button{
    background-color: rgb(59, 208, 59) ;
    padding: 0.9rem;
    font-size: 1rem;
} 